:root {
    --cube-size: 200px;
}

body.dark-mode {
    --bg-main-color: #111;
    --bg-secondary-color: #222;
    --fg-color: #eee;
    --shadow: #888;
    --border: #444;
}

body.light-mode {
    --bg-main-color: #eee;
    --bg-secondary-color: #ccc;
    --fg-color: #111;
    --shadow: #444;
    --border: #888;
}

body {
    background-color: var(--bg-main-color);
    color: var(--fg-color);
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

object {
    pointer-events: none;
}

.cube-container {
    position: relative;
    width: calc(var(--cube-size) * 2);
    height: calc(var(--cube-size) * 2);
    margin: 20px auto 0;
    perspective: 1000px;
}

.cube {
    /*perspective-origin: 200px 200px;*/
    position: relative;
    transform: rotateX(0deg) rotateY(0deg);
    transform-origin: var(--cube-size) var(--cube-size);
    transform-style: preserve-3d;
}

.cube:hover {
    cursor: pointer;
}

.side {
    position: absolute;
    top: calc(var(--cube-size) / 2);
    left: calc(var(--cube-size) / 2);
    width: var(--cube-size);
    height: var(--cube-size);
    background-color: #aef;
    box-shadow: 0 0 calc(var(--cube-size) / 2) 1px #444499 inset, 0 0 10px 1px #444499 inset;
    border: 1px solid #444499;
    user-select: none;
}

.side1 {
    transform: translateZ(calc(var(--cube-size) / 2));
    background-image: radial-gradient(circle, #000 15%, #0000 0%);
}

.side2 {
    transform: translateX(calc(var(--cube-size) / 2)) rotateY(90deg);
    background-image: radial-gradient(circle at 25% 75%, #000 10%, #0000 0%),
    radial-gradient(circle at 75% 25%, #000 10%, #0000 0%);
}

.side3 {
    transform: translateY(calc(var(--cube-size) / 2)) rotateX(-90deg);
    background-image: radial-gradient(circle, #000 15%, #0000 0%),
    radial-gradient(circle at 75% 75%, #000 10%, #0000 0%),
    radial-gradient(circle at 25% 25%, #000 10%, #0000 0%);
}

.side4 {
    transform: translateY(calc(var(--cube-size) / 2 * -1)) rotateX(90deg);
    background-image: radial-gradient(circle at 25% 75%, #000 10%, #0000 0%),
    radial-gradient(circle at 75% 25%, #000 10%, #0000 0%),
    radial-gradient(circle at 25% 25%, #000 10%, #0000 0%),
    radial-gradient(circle at 75% 75%, #000 10%, #0000 0%);
}

.side5 {
    transform: translateX(calc(var(--cube-size) / 2 * -1)) rotateY(-90deg);
    background-image: radial-gradient(circle, #000 15%, #0000 0%),
    radial-gradient(circle at 25% 75%, #000 10%, #0000 0%),
    radial-gradient(circle at 75% 25%, #000 10%, #0000 0%),
    radial-gradient(circle at 25% 25%, #000 10%, #0000 0%),
    radial-gradient(circle at 75% 75%, #000 10%, #0000 0%);
}

.side6 {
    transform: translateZ(calc(var(--cube-size) / 2 * -1)) rotateX(180deg);
    background-image: radial-gradient(circle at 25% 75%, #000 10%, #0000 0%),
    radial-gradient(circle at 75% 25%, #000 10%, #0000 0%),
    radial-gradient(circle at 25% 25%, #000 10%, #0000 0%),
    radial-gradient(circle at 75% 75%, #000 10%, #0000 0%),
    radial-gradient(circle at 75% 50%, #000 calc(35% / 3), #0000 0%),
    radial-gradient(circle at 25% 50%, #000 calc(35% / 3), #0000 0%);
}

#theme-switch {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--bg-secondary-color);
    transition: background-color 0.5s ease-in-out;
}

#dice-container {
    width: 80%;
    height: fit-content;
    background-color: var(--bg-secondary-color);
    margin: 10px auto;
    transition: background-color 0.5s ease-in-out;
}

.icon {
    stroke: var(--fg-color);
}
